.col {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

img {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    max-width: 100%;
    height: auto;
}