<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
<!--   #b6b7ba; -->
  <body>
    <section id="about_me" class="active">
      <div class="container">
        <div class="row hero">
          <div class="col-xxl-6 col-lg-4 image">
            <img src="assets/images/myPhoto.png" alt="person about" />
          </div>
          <div class="col-xxl-6 col-lg-8 info">
            <header class="has-bg">
              <h1>About Me</h1>
            </header>
            <div class="field">
              <h2></h2>
            </div>
            <p>some text</p>
            <div class="items">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 ps-0">
                    <div class="item">
                      <span class="title">Name:</span>
                      <span class="value">Gena</span>
                    </div>

                    <div class="item">
                      <span class="title">Location:</span>
                      <span class="value">Israel</span>
                    </div>
                  </div>
                  <div class="col-lg-6 ps-0">
                    <div class="item">
                      <span class="title">Years of experience:</span>
                      <span class="value">+2 Years</span>
                    </div>

                    <div class="item">
                      <span class="title">E-mail:</span>
                      <span class="value">rgkogan@gmail.com</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="buttons">
              <a href="assets/files/cv.pdf" class="btn-custom-blue" download
                >Download CV</a
              >
              <a href="#contact_me" class="btn-custom-dark inner-link"
                >Message me</a
              >
            </div>
          </div>
        </div>
        <div class="row languages-skills">
          <div class="col-lg-6 languages-key-skills">
            <div class="languages">
              <header class="custom">
                <h2>My Degree</h2>
              </header>
              <ul class="item">
                <p>
                  2021 to 2023 M.Sc. - Software Engineering, Sami Shamoon
                  College of Engineering – <a href="https://en.sce.ac.il/">SCE</a> Beersheba, Israel.
                </p>

                <p>
                  2016 to 2021 B.Sc. – Software Engineering, Sami Shamoon
                  College of Engineering – <a href="https://en.sce.ac.il/">SCE</a> Beersheba, Israel.
                </p>
              </ul>
            </div>
            <div class="languages">
              <header class="custom">
                <h2>Languages</h2>
              </header>
              <ul class="items">
                <li class="item">
                  <div class="info">
                    <h3>Russian</h3>
                    <span class="level">Native</span>
                  </div>
                  <div class="rate">
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                  </div>
                </li>
                <li class="item">
                  <div class="info">
                    <h3>Hebrew</h3>
                    <span class="level">Second language</span>
                  </div>
                  <div class="rate">
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                  </div>
                </li>
                <li class="item">
                  <div class="info">
                    <h3>English</h3>
                    <span class="level">Conversational</span>
                  </div>
                  <div class="rate">
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span class="fill"></span>
                    <span></span>
                    <span></span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 web-skills mt-5 mt-lg-0">
            <header class="custom">
              <h2>My Skills</h2>
            </header>
            <div class="container">
              <div class="items row">
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      class="skillimg"
                      src="assets/images/skills/node-js.png"
                      alt="NodeJs"
                    />
                    <h5>NodeJs</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      class="skillimg"
                      src="assets/images/skills/mysql.png"
                      alt="MySQL"
                    />
                    <h5>MySQL</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      class="skillimg"
                      src="assets/images/skills/oracle.png"
                      alt="Oracle"
                    />
                    <h5>Oracle</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      class="skillimg"
                      src="assets/images/skills/mongodb.png"
                      alt="MongoDB"
                    />
                    <h5>MongoDB</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      class="skillimg"
                      src="assets/images/skills/matlab.png"
                      alt="Matlab"
                    />
                    <h5>Matlab</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      class="skillimg"
                      src="assets/images/skills/react.png"
                      alt="React"
                    />
                    <h5>React</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      class="skillimg"
                      src="assets/images/skills/angular.png"
                      alt="Angular"
                    />
                    <h5>Angular</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      class="skillimg"
                      src="assets/images/skills/c.png"
                      alt="C"
                    />
                    <h5>C</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      class="skillimg"
                      src="assets/images/skills/java-script.png"
                      alt="JavaScript"
                    />
                    <h5>JavaScript</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      class="skillimg"
                      src="assets/images/skills/r.png"
                      alt="R"
                    />
                    <h5>R</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      class="skillimg"
                      src="assets/images/skills/python.png"
                      alt="Pyhton"
                    />
                    <h5>Pyhton</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      class="skillimg"
                      src="assets/images/skills/c++.png"
                      alt="c++"
                    />
                    <h5>C++</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img src="assets/images/skills/html5.png" alt="html5" />
                    <h5>HTML 5</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img src="assets/images/skills/css3.png" alt="css3" />
                    <h5>CSS</h5>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img
                      src="assets/images/skills/bootstrap.png"
                      alt="bootstrap"
                    />
                    <h5>Bootstrap</h5>
                  </div>
                </div>

                <div class="col-xl-3 col-sm-4 px-2">
                  <div class="item">
                    <img src="assets/images/skills/jquery.png" alt="jQuery" />
                    <h5>jQuery</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="certificates">
          <header class="custom">
            <h2>My Certifications</h2>
          </header>
          <div class="items row justify-content-center">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 item">
              <img
                src="assets/images/certifications/1.jpg"
                alt="certification"
              />
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 item">
              <img
                src="assets/images/certifications/2.jpg"
                alt="certification"
              />
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 item">
              <img
                src="assets/images/certifications/3.jpg"
                alt="certification"
              />
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 item">
              <img
                src="assets/images/certifications/4.jpg"
                alt="certification"
              />
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 item">
              <img
                src="assets/images/certifications/5.jpg"
                alt="certification"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
