<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<!-- <div class="container">
  
  <header>
      <nav>
    <ul class="nav nav-tabs">
      <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
          routerLink="/">Home</a></li>
      <li role="presentation" routerLinkActive="active"><a routerLink="personal-details/">Personal details</a></li>
      <li role="presentation" routerLinkActive="active"><a routerLink="/education">Education</a></li>
    </ul>
  </nav>
</header>
 
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-10 col-sm-offset-1 col-md-offset-1">
      <router-outlet></router-outlet>
    </div>
  </div>

</div> -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Carlito:wght@700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>

  <!-- <nav class="main-nav">

    <ul class="main-nav-list">
      <li><a class="main-nav-link nav-cta" routerLink="/">Home</a></li>
      <li><a class="main-nav-link nav-cta" routerLink="personal-details/">Personal details</a></li>
      <li><a class="main-nav-link nav-cta" routerLink="/education">Education</a></li>
    </ul>

  </nav>

  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-10 col-sm-offset-1 col-md-offset-1">
      <router-outlet></router-outlet>
    </div>
  </div> -->
  <header class="header">
    <h1 class="logo">G. K.</h1>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li><a class="main-nav-link nav-cta" routerLink="/">Home</a></li>
        <li><a class="main-nav-link nav-cta" routerLink="personal-details/">Personal details</a></li>
        <li><a class="main-nav-link nav-cta" routerLink="/education">Education</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</body>

</html>