<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App</title>

</head>

<body>

  <div class="sidebar">
    <div class="logo">
      G.K.
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/"><i class="las la-home"></i></a>
          <span>Home</span>
        </li>
        <li>
          <a routerLink="/personal-details"><i class="lar la-address-card"></i></a>
          <span>About me</span>
        </li>
        <li>
          <a routerLink="/education"><i class="las la-briefcase"></i></a>
          <span>About me</span>
        </li>

      </ul>
    </nav>
  </div>
  <div class="toggle_mode">
    <div class="outer">
      <div class="inner">

      </div>
    </div>
  </div>
  <router-outlet></router-outlet>

</body>

</html>