/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 /
- Font weight
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
- Primary: #0b7285
- Tints: #c5f6fa
- Shades: 
- Accents: 
- Greys

--- 02.1 EXAMPLE SECTION
#171c28
#1d2433
#2f3b54
#6679a4
#8695b7
#a2aabc
#d7dce2
#ffcc66
#5ccfe6
#bae67e
#ffae57
#ffd580
#c3a6ff
#ef6b73
*/

/* 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 */

html,
body {
  padding: 0;
  margin: 0;

  height: 100%;
}

*{
  color: #fff;
}