<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>

  <section class="home ">
    <div class="container">
      <div class="row">
        <!--  /* About me */ -->

        <div class="col-lg-6 info ">
          <!-- <img src="assets/images/person-circle.png" alt="person circle"> -->
          <h6>Hi, my name is</h6>
          <h1> <span>Kogan Genady</span> </h1>
          <div class="field">
            <h2></h2>
          </div>
          <p>
            Experienced software engineer with a strong background in software
            development and a passion for problem-solving. Possesse expertise in
            a wide range of programming languages and technologies, and have
            experience working on diverse projects in both individual and team
            settings.
          </p>
          <a class="cv-button" href="assets/files/cv.pdf" download>Download CV</a>

        </div>
        
        <!--  /* Contact */ -->

        
          <div class="socials">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/genady-kogan/">
                  <i class="lab la-linkedin-in"></i>
                  <span>Linkedin</span>
                </a>
              </li>
              <!-- <li>
                <a href="#">
                  <i class="lab la-facebook-f"></i>
                  <span>Facebook</span>
                </a>
              </li> -->
              <li>
                <a href="https://github.com/genakogan">
                  <i class="lab la-github"></i>
                  <span>GitHub</span>
                </a>
              </li>
              <li>
                <a href="https://stackoverflow.com/users/13421718/genak">
                  <i class="lab la-stack-overflow"></i>
                  <span>Stack Overflow</span>
                </a>
              </li>
              <li>
                <a href="mailto:rgkogan@gmail.com">
                  <i class="las la-envelope"></i>
                  <span>Mail</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!--  <div class="col-lg-6"> -->
        <!--   <img src="assets/images/person-home.png" alt="person home"> -->
        <!-- </div> -->
      </div>
 
  </section>
</body>

</html>