<!-- <h4>Welcome to Server Manager 4.0</h4>
 <p>Manage your Servers and Users.</p>
 <button class="btn btn-primary" (click)="onLoadServers()">Load Personal details</button> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <header>
    <h6>
      <a
        id="gitHubLinkedIn"
        href="https://www.linkedin.com/in/genady-kogan/"
        target="_blank"
        ><strong>LinkedIn</strong></a
      >
    </h6>
    <h6>
      <a id="gitHubLinkedIn" href="https://github.com/genakogan" target="_blank"
        ><strong>GitHub</strong></a
      >
    </h6>
  </header>

  <body>
    <article>
      <h4><strong>PROFILE</strong></h4>
      <aside>
        <p>
          EXPERIENCED SOFTWARE ENGINEER WITH A STRONG BACKGROUND IN SOFTWARE
          DEVELOPMENT AND A PASSION FOR PROBLEM-SOLVING. POSSESSE EXPERTISE IN A
          WIDE RANGE OF PROGRAMMING LANGUAGES AND TECHNOLOGIES, AND HAVE
          EXPERIENCE WORKING ON DIVERSE PROJECTS IN BOTH INDIVIDUAL AND TEAM
          SETTINGS.
        </p>
      </aside>

      <h4><strong>Education</strong></h4>
      <aside>
        <p>
          2021 to 2023 M.Sc. - Software Engineering, Sami Shamoon College of
          Engineering – SCE Beersheba, Israel.
        </p>

        <p>
          2016 to 2021 B.Sc. – Software Engineering, Sami Shamoon College of
          Engineering – SCE Beersheba, Israel.
        </p>
      </aside>
      <h4><strong>Employment</strong></h4>

      <h6>
        <strong
          >2022 to present Software Engineer at Sami Shamoon College of
          Engineering</strong
        >
      </h6>
      <aside>
        <ul>
          <li>
            Developed and maintained software applications using [GitHub, Jira,
            Jenkins, MongoDB, SHH server, Heroku, Python, TypeScript,
            JavaScript, SQL, React, Angular].
          </li>
          <li>Moodle extension for software department using Python.</li>
          <li>
            Collaborated with cross-functional teams to design and implement new
            features.
          </li>
          <li>Conducted code reviews and provided feedback to team members.</li>
          <li>JIRA administrator.</li>
          <li>Budget management.</li>
        </ul>
      </aside>

      <h6>
        <strong>
          2020 to present Software Academic lecturer at Sami Shamoon College of
          Engineering
        </strong>
      </h6>
      <aside>
        <ul>
          <li>
            Assist professors in preparing and delivering lectures and tutorials
            for courses including Operating Systems, Data Structures, Principles
            of Software Languages, Testing and Quality in Software Engineering,
            and Project Management.
          </li>
          <li>
            Facilitate classroom discussions and provide feedback to students on
            assignments and exams.
          </li>
          <li>
            Help design and implement assignments, grading rubrics, and exams
            for each course.
          </li>
          <li>
            Work with professors and other teaching assistants to identify and
            address student needs and concerns.
          </li>
          <li>
            Maintain an organized and effective learning environment by tracking
            attendance, grades, and other relevant data.
          </li>
        </ul>
      </aside>

      <h6>
        <strong>
          2015 to 2022 Team manager at Sami Shamoon College of Engineering
        </strong>
      </h6>

      <h4><strong>Research projects</strong></h4>
      <aside>
        <ul>
          <li>
            “Segmentation of computer tomography (CT) image sequence for lower
            back vertebrae (vertebrae L1 – L5)”.
          </li>
          <li>
            “Animation and visualization of data structures”. The objective of
            this research is to design and implement a free, online animation
            and visualization tool to supplement the undergraduate course "Data
            Structures" and to evaluate its effect on students' comprehension
            and performance.
          </li>
        </ul>
      </aside>
      <h4><strong>Conference</strong></h4>
      <aside>
      <ul>
        <li>
          15th annual International Conference on Education and New Learning
          Technologies
        </li>
      </ul>
      </aside>
    </article>
  </body>
</html>
