
/*
--- 01 COLORS
-Primary: #0b7285
-Tints: #c5f6fa

*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 65.5%;
}

body{
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

.section-hero{
    background-color:#c5f6fa;
    padding: 4.8rem 0 9.6rem 0;
}


.hero{
    
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.heading-primary{
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    /* margin-right: 7rem; */
    text-align: justify;

}

.btn:link, .btn:visited{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 150px;
    transition: background-color 0.3s;
    
    
}

.btn--full:link, .btn--full:visited{
    background-color: #0b7285;
}

.btn--full:hover, .btn--full:active{
    background-color: #08505d;
    /* border: 3px solid #fff; */
    box-shadow: inset 0 0 0 5px #fff;
}


.hero-img{
    width: 60%;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 7rem;
    margin-top: 3rem;
  }
  
  .technologies-imgs {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .technologies-imgs a {
    margin: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .technologies-imgs a:hover {
    transform: scale(1.1);
  }
  

  .section-how{
    padding: 9.rem 0;
    background-color: red;
  }
  

